
<div class="card mt-3 mb-3 border border-dark shadow-sm" style ="width: 100%;border-radius: 20px;">
  <div class="card-body">
      <div class="container">
        <%= f.input :topic %>
        <%= f.input :deadline %>
        <%= f.input :note, as: :text, placeholder: "e.g. Refer to pages 120-145 of your text book (max 140 characters)" %>
      </div>
  </div>
</div>



