<div class="card mt-3 mb-3 border border-dark shadow-sm mx-auto" style ="width:50%; height:20%;border-radius: 20px;">
  <div class="card-body">
    <p class="text-center" style="font-weight:bold;"> Setting an assignment </p>

    <ul class="pen-bullet" style="font-size: 14px;">
      <li> Start by adding questions </li>
      <li> Include up to four answer choices per question </li>
      <li> Ensure that the correct answer matches one of your answer choices </li>
      <li> Click on the button below to submit </li>
    </ul>

      <div style="display: flex; justify-content: center; align-items: center;">
        <%= f.button :submit, "Set assignment", class: "primary-button" %>
      </div>

  </div>
</div>
