<h1> All assignments </h1>

<% if current_user.student? %>

  <% @assignments.each do |assignment| %>

    <% assignment.class_memberships.where(user: current_user).each do |class_membership| %>
          <div class="d-flex flex-column">
          <%= class_membership.taught_class.assignments.each do |assignment| %>
            <%= assignment.topic %>
            <%= assignment.deadline %>
          <% end %>
          </div>
    <% end %>

  <% end %>

<% end %>
