


    <% @class_memberships.each do |class_membership| %>
    <% class_membership.taught_class.assignments.order(:deadline).each do |assignment| %>
      <div class="d-flex flex-column">
        <%= assignment.taught_class.subject %>
        <%= assignment.topic %>
        <%= assignment.deadline %>

        <%= link_to 'Start assignment', assignment_path(assignment) %>


      </div>
    <% end %>
    <% end %>

