


    <% @class_memberships.each do |class_membership| %>
    <% class_membership.taught_class.assignments.order(:deadline).each do |assignment| %>
      <div class="d-flex flex-column">
        <%= assignment.taught_class.subject %>
        <%= assignment.topic %>
        <%= assignment.deadline %>

        <% if assignment.completed_assignments.present? %>
          <p> You've completed this assignment </p>
          <%#= link_to 'See your submission',  %>
        <% else %>
          <%= link_to 'Start assignment', new_completed_assignment_assignment_path(assignment) %>
        <% end %>




      </div>
    <% end %>
    <% end %>

