

<div class="container">
  <div class="row">
      <div class="column mt-4 dimensions">

        <div class="text-center right-side mx-auto">
          <%= image_tag 'home-banner.png', style: "width:95%; cover:fit; vertical-align:middle;" %>
        </div>

        <div class="no-space" style="overflow:hidden; width: 5%"></div>

        <br class="mobile-space">
        <br class="mobile-space">


        <div class="mx-auto text-center left-side">
          <div class="middle">
            <br>
            <h3 style="font-weight: bold; text-align: left;"> We make setting, marking and reviewing homework a breeze  </h3>
            <br>
            <p style="font-weight: 200; text-align: left;"> Meet Mojo, the assessment tool for modern schools. We aim to free up teachers’ time enabling them to spend more time on lesson planning and delivery. </p>
            <br>

            <button class="primary-button" style="display:flex; align-items: left;"> Get started </button>


            <br>

          </div>
        </div>

      </div>
    </div>
  </div>





